

@{ var kh = Session["TaiKhoan"]; }
@{ var ten = Session["TaiKhoan2"]; }
@{ var id = Session["TaiKhoan3"];

}

<style>
    .mn, .rp, .w {
        min-width: 200px;
        /* text-align : center;
        padding : 0px;*/
    }

    .txt {
        font-weight: 400;
        font-size: 14px;
        font-weight: 500;
    }

        .txt:hover {
            color: #007bff;
        }
</style>

@if (Session["TaiKhoan"] == null)
{
    <ul class="top-info-box">
        <li>
            <div class="info-box">
                <div class="info-box-content">
                    <a href="~/User/Login" role="button" class="txt">
                        <i class="fa-solid fa-right-to-bracket"></i>     Đăng nhập
                    </a>
                    |
                    <a href="~/User/SignUp" role="button" class="txt">
                        <i class="fa-solid fa-user-plus"></i> Đăng ký
                    </a>


                </div>
            </div>
        </li>

    </ul>
}
else
{




    <ul class="nav dropdown in rp">

        <li class="dropdown">
            <a href="/User/Info/@id" class="nav-link @*dropdown-toggle*@" @*data-toggle="dropdown"*@><span style="font-size : 12px; font-weight : 600; color: #333"><span class="fa fa-user"></span> Xin chào: @ten </span></a>
            <ul class="dropdown-menu w">
                <li class="menu">
                    <a href="/User/Thaydoithongtin/@id" style="font-size: 12px; font-weight: 600; text-transform: capitalize;">
                        Sửa thông tin cá nhân
                    </a>
                </li>
                <li class="menu">
                    <a href="/Home/Create" style="font-size: 12px; font-weight: 600; text-transform: capitalize;">
                        Tải lên đề thi
                    </a>
                </li>
                <li class="menu">
                    <a href="#" class="logout" style="font-size: 12px; font-weight: 600; text-transform: capitalize;">
                        Đăng xuất
                    </a>
                </li>

            </ul>

        </li>
        <li> <a href="#" class="nav-link @*dropdown-toggle*@ logout" @*data-toggle="dropdown"*@><span style="font-size : 12px; font-weight : 600; color: #333"><span class="fa-solid fa-power-off"></span></span></a></li>


    </ul>

}
<style>
    .nav-link {
        padding: 0.5rem 0.5rem;
    }

    .navcustom {
        width: 150px;
        padding: 0;
        border-radius: 10px;
        border: none;
    }

    .list-group-item {
        border: none;
        padding: 0px 10px;
        text-align: center;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    @@media (max-width: 767px) {
        ul.top-info-box {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            float: unset;
        }

        .rp {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            float: unset;
        }

        .bg {
            overflow-wrap: break-word;
        }
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>const btnLogout = document.querySelectorAll('.logout');

    btnLogout.forEach(btn => {
        btn.addEventListener('click', (event) => {

            event.preventDefault();

            Swal.fire({
                title: 'Bạn có chắc chắn muốn đăng xuất ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Hủy',
                confirmButtonText: 'Chắc chắn'
            }).then((result) => {
                if (result.isConfirmed) {
                        window.location.href = '/User/DangXuat'

                }
            })
        });
    });</script>