@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<main class="container" aria-labelledby="title">
    <div class="row">
        <div class="col-lg-12 mx-auto">

            <h3 class="mb-4 mt-5 text-center ">Giới thiệu Trường THCS Phú Hòa</h3>

            <div class="card p-4">
                <iframe src="https://thcsphuhoa.tptdm.edu.vn/uploads/thcsphuhoa/videoclips/gioi-thieu-ve-truong-thcs-phu-hoa-2_2.mp4" height="600px"></iframe>

            </div>
        </div>
    </div>
</main>
